In [34]:
import pandas as pd 
#查看版本
print(pd.__version__)

2.3.1

# pandas 由index，keys，values组成
## 一个dataframe由不同的series构成
Series： 类似于一维数组或列表，是由一组数据以及与之相关的数据标签（索引）构成。Series 可以看作是 DataFrame 中的一列，也可以是单独存在的一维数据结构。Series 可以存储任何数据类型（整数、浮点数、字符串等），并通过标签（索引）来访问元素。

DataFrame： 类似于一个二维表格，它是 Pandas 中最重要的数据结构。DataFrame 可以看作是由多个 Series 按列排列构成的表格，它既有行索引也有列索引，因此可以方便地进行行列选择、过滤、合并等操作。

# 创建 Series
可以使用 pd.Series() 构造函数创建一个 Series 对象，传递一个数据数组（可以是列表、NumPy 数组等）和一个可选的索引数组。

`pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

参数说明：

data：Series 的数据部分，可以是列表、数组、字典、标量值等。如果不提供此参数，则创建一个空的 Series。

index：Series 的索引部分，用于对数据进行标记。可以是列表、数组、索引对象等。如果不提供此参数，则创建一个默认的整数索引。

dtype：指定 Series 的数据类型。可以是 NumPy 的数据类型，例如 np.int64、np.float64 等。如果不提供此参数，则根据数据自动推断数据类型。

name：Series 的名称，用于标识 Series 对象。如果提供了此参数，则创建的 Series 对象将具有指定的名称。

copy：是否复制数据。默认为 False，表示不复制数据。如果设置为 True，则复制输入的数据。

fastpath：是否启用快速路径。默认为 False。启用快速路径可能会在某些情况下提高性能。

In [35]:
#创建一个serises对象
s = pd.Series([1, 2, 3, 4, 5],name='number')
print(s)

0    1
1    2
2    3
3    4
4    5
Name: number, dtype: int64

## series可以自定义索引
index不一定是数字，也可以是字母等等

In [36]:
 #如果你想要显式地设置索引，可以这样做：
custom_index = [1, 2, 3, 4]  # 自定义索引
series_with_index = pd.Series([1, 2, 3, 4], index=custom_index, name='A')

# 显示带有自定义索引的Series对象
print(series_with_index)

1    1
2    2
3    3
4    4
Name: A, dtype: int64

# 我们也可以使用key：value（类似dict）来创建series

In [37]:
sites ={1:'Google',2: 'Runoob',3: 'Wiki'}
s = pd.Series(sites,dtype=pd.StringDtype(),name='site')
print(s.dtype)    
print(s)

string
1    Google
2    Runoob
3      Wiki
Name: site, dtype: string

## 可以获取sites中的一部分数据，用index来指定

In [38]:
sites ={1:'Google',2: 'Runoob',3: 'Wiki'}
s = pd.Series(sites,index=(1,2),name='site')
print(s)

1    Google
2    Runoob
Name: site, dtype: object

## add new elements to a series
第一种：索引添加，Series[新索引] = 新值

第二种：使用 pd.concat() 拼接，s_updated = pd.concat([s, new_elements])

In [39]:
sites ={1:'Google',2: 'Runoob',3: 'Wiki'}
s = pd.Series(sites,name='site')
#第一种方法，索引添加
s[4]='Baidu'
print(s)
#第二种方法，使用pd.concat()拼接
new_elements = pd.Series(data=['zhihu','blog'],index=[5,6],name='site')
s_updated = pd.concat([s, new_elements])
# 显示更新后的Series对象
print(s_updated)

1    Google
2    Runoob
3      Wiki
4     Baidu
Name: site, dtype: object
1    Google
2    Runoob
3      Wiki
4     Baidu
5     zhihu
6      blog
Name: site, dtype: object

# Series 方法
方法名称	|功能描述
|----|----|
index	|获取 Series 的索引
values	|获取 Series 的数据部分（返回 NumPy 数组）
head(n)	|返回 Series 的前 n 行（默认为 5）
tail(n)	|返回 Series 的后 n 行（默认为 5）
dtype	|返回 Series 中数据的类型
shape	|返回 Series 的形状（行数）
describe()	|返回 Series 的统计描述（如均值、标准差、最小值等）
isnull()	|	返回一个布尔 Series，表示每个元素是否为 NaN
notnull()  |返回一个布尔 Series，表示每个元素是否不是 NaN
unique()	|返回 Series 中的唯一值（去重）
value_counts()	|返回 Series 中每个唯一值的出现次数
map(func)	|将指定函数应用于 Series 中的每个元素
apply(func)	|将指定函数应用于 Series 中的每个元素，常用于自定义操作
astype(dtype)	|将 Series 转换为指定的类型
sort_values()	|对 Series 中的元素进行排序（按值排序）
sort_index()	|对 Series 的索引进行排序
dropna()	|删除 Series 中的缺失值（NaN）
fillna(value)	|填充 Series 中的缺失值（NaN）
replace(to_replace, value)	|替换 Series 中指定的值
cumsum()	|返回 Series 的累计求和
cumprod()	|返回 Series 的累计乘积
shift(periods)	|将 Series 中的元素按指定的步数进行位移
rank()	|返回 Series 中元素的排名
corr(other)	|计算 Series 与另一个 Series 的相关性（皮尔逊相关系数）
cov(other)	|计算 Series 与另一个 Series 的协方差
to_list()	|将 Series 转换为 Python 列表
to_frame()	|将 Series 转换为 DataFrame
iloc[]	|通过位置索引来选择数据
loc[]	|通过标签索引来选择数据

In [43]:
#用于生成字母表
import string
import pandas as pd
# 生成字母表
alphabet = list(string.ascii_lowercase)
#创建series
s = pd.Series(alphabet,index=range(1,len(alphabet)+1),name='alphabet')
#获取基本属性
print(s.name)  # 输出 Series 的名称
print(s.index)  # 输出索引
print(s.values)  # 输出 Series 的值
print(s.dtype)  # 输出数据类型
print(s.shape)  # 输出 Series 的形状
# 获取字母表的前5个字母
print(s.head(5 ))  # 输出前5个字母
# 获取字母表的后5个字母
print(s.tail(5))  # 输出后5个字母
#返回唯一值
print(s.unique)
#统计每个唯一值出现的次数
print(s.value_counts())  # 输出每个字母出现的次数
#按value进行排序
print(s.sort_values(ascending=False))  # 按值降序排序
#按位置索引选择数据
print(s.iloc[0:5])  # 选择前5个字母
#按标签索引(自定义索引)选择数据 
print(s.loc[1:5])  # 选择索引为1到5的字母
#将series转换为列表
print(s.tolist())  # 将 Series 转换为列表

alphabet
RangeIndex(start=1, stop=27, step=1)
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r'
 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']
object
(26,)
1    a
2    b
3    c
4    d
5    e
Name: alphabet, dtype: object
22    v
23    w
24    x
25    y
26    z
Name: alphabet, dtype: object
<bound method Series.unique of 1     a
2     b
3     c
4     d
5     e
6     f
7     g
8     h
9     i
10    j
11    k
12    l
13    m
14    n
15    o
16    p
17    q
18    r
19    s
20    t
21    u
22    v
23    w
24    x
25    y
26    z
Name: alphabet, dtype: object>
alphabet
a    1
b    1
y    1
x    1
w    1
v    1
u    1
t    1
s    1
r    1
q    1
p    1
o    1
n    1
m    1
l    1
k    1
j    1
i    1
h    1
g    1
f    1
e    1
d    1
c    1
z    1
Name: count, dtype: int64
26    z
25    y
24    x
23    w
22    v
21    u
20    t
19    s
18    r
17    q
16    p
15    o
14    n
13    m
12    l
11    k
10    j
9     i
8     h
7     g
6     f
5     e
4     d
3     c
2     b
1     a
Name: alphabet, dtype: object
1    a
2    b
3    c
4    d
5    e
Name: alphabet, dtype: object
1    a
2    b
3    c
4    d
5    e
Name: alphabet, dtype: object
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [44]:
print(s.index)  # 输出索引
print(s.index.to_list())  # 将索引转换为列表

RangeIndex(start=1, stop=27, step=1)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

# DataFrame 是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。
是一个二维表格，可以被看作是一个 Excel 电子表格或 SQL 表  
DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）。

## DataFrame 构造方法如下：

`pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)`
参数说明：  

data：DataFrame 的数据部分，可以是字典、二维数组、Series、DataFrame 或其他可转换为 DataFrame 的对象。如果不提供此参数，则创建一个空的 DataFrame。

index：DataFrame 的行索引，用于标识每行数据。可以是列表、数组、索引对象等。如果不提供此参数，则创建一个默认的整数索引。

columns：DataFrame 的列索引，用于标识每列数据。可以是列表、数组、索引对象等。如果不提供此参数，则创建一个默认的整数索引。

dtype：指定 DataFrame 的数据类型。可以是 NumPy 的数据类型，例如 np.int64、np.float64 等。如果不提供此参数，则根据数据自动推断数据类型。

copy：是否复制数据。默认为 False，表示不复制数据。如果设置为 True，则复制输入的数据。

## 从series创建dataframe

In [72]:
citys = pd.Series(['Tokyo', 'Los Angeles', 'London'],name='City')
latitudes = pd.Series([35.6895, 34.0522, 51.5074], name='Latitude')
longitudes = pd.Series([139.6917, -118.2437, -0.1278], name='Longitude')
countries = pd.Series(['Japan', 'USA', 'UK'], name='Country')   
# 创建 DataFrame
# 方法1：用字典传入，键为列名（直接用Series的name）
df = pd.DataFrame({
    citys.name: citys,       # 列名=City，值=citys这个Series
    latitudes.name: latitudes,
    longitudes.name: longitudes,
    countries.name: countries
},index=range(1, len(citys) + 1))  # 设置行索引为1,2,3...
display(df)
#方法2：用concat拼接多个Series（axis=1表示按列拼）
df = pd.concat(
    [citys, latitudes, longitudes, countries],  # 所有Series的列表
    axis=1  # 关键：按列拼接（默认axis=0是按行拼，会出错）
)

display(df)

          City  Latitude  Longitude Country
1  Los Angeles   34.0522  -118.2437     USA
2       London   51.5074    -0.1278      UK
3          NaN       NaN        NaN     NaN

          City  Latitude  Longitude Country
0        Tokyo   35.6895   139.6917   Japan
1  Los Angeles   34.0522  -118.2437     USA
2       London   51.5074    -0.1278      UK

## 从dict创建dataframe

In [73]:
#构建data字典
data = {
"City": ["Tokyo", "Los Angeles", "London"],
"Latitude": [35.6895, 34.0522, 51.5074],
"Longitude": [139.6917, -118.2437, -0.1278],
"Country": ["Japan", "USA", "UK"],
}
print(data.keys())  # 输出字典的键

dict_keys(['City', 'Latitude', 'Longitude', 'Country'])

In [74]:
#构建dataframe
df = pd.DataFrame(data,index=range(1,len(data[next(iter(data.keys()))])+1))
display(df)

          City  Latitude  Longitude Country
1        Tokyo   35.6895   139.6917   Japan
2  Los Angeles   34.0522  -118.2437     USA
3       London   51.5074    -0.1278      UK

## 从list创建

In [77]:
import pandas as pd

data = [
        ['Google', 10], 
        ['Runoob', 12], 
        ['Wiki', 13]
        ]

# 创建DataFrame
df = pd.DataFrame(data, columns=['Site', 'Age'],index=range(1, len(data) + 1))

# 使用astype方法设置每列的数据类型
df['Site'] = df['Site'].astype(str)
df['Age'] = df['Age'].astype(float)

display(df)

     Site   Age
1  Google  10.0
2  Runoob  12.0
3    Wiki  13.0

# 从ndarray创建

In [78]:
import numpy as np
import pandas as pd

# 创建一个包含网站和年龄的二维ndarray
ndarray_data = np.array([
    ['Google', 10],
    ['Runoob', 12],
    ['Wiki', 13]
])

# 使用DataFrame构造函数创建数据帧
df = pd.DataFrame(ndarray_data, columns=['Site', 'Age'])

# 打印数据帧
print(df)

     Site Age
0  Google  10
1  Runoob  12
2    Wiki  13

# 多字典（list嵌套dict）创建，便于添加新元素

In [74]:
import pandas as pd

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df = pd.DataFrame(data)

print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

# 添加新数据

使用loc[len(df)]添加新元素，不能添加新的column

In [75]:
new_elements = { 'a': 10,'b':9,'d': 30}
df.loc[len(df)] = new_elements  # 使用 loc 添加新行
display(df)
print(df.loc[2])  # 使用 loc 访问新添加的行

    a   b     c
0   1   2   NaN
1   5  10  20.0
2  10   9   NaN

a    10.0
b     9.0
c     NaN
Name: 2, dtype: float64

使用pd.concat添加新元素，可以添加新的column

In [76]:
#定义一个新的df
NEW_ELEMENTS =[{'a':8,'c':7,'d':90}]
new_df = pd.DataFrame(NEW_ELEMENTS)
df = pd.concat([df,new_df],ignore_index=True  )
display(df)

    a     b     c     d
0   1   2.0   NaN   NaN
1   5  10.0  20.0   NaN
2  10   9.0   NaN   NaN
3   8   NaN   7.0  90.0

### 基于已有的column创建新的column

In [ ]:
import numpy as np
df['a_rad'] = np.deg2rad(df['a'])
display(df)
print(df.dtypes)  # 输出每列的数据类型
df

    a     b     c     d     a_rad
0   1   2.0   NaN   NaN  0.017453
1   5  10.0  20.0   NaN  0.087266
2  10   9.0   NaN   NaN  0.174533
3   8   NaN   7.0  90.0  0.139626

a          int64
b        float64
c        float64
d        float64
a_rad    float64
dtype: object

### 使用+连接已有列，以创建新的column

In [129]:
import pandas as pd
#构建data字典
data = {
"City": ["Tokyo", "Los Angeles", "London"],
"Latitude": [35.6895, 34.0522, 51.5074],
"Longitude": [139.6917, -118.2437, -0.1278],
"Country": ["Japan", "USA", "UK"],
}
#构建dataframe
df = pd.DataFrame(data,index=range(1,len(data[next(iter(data.keys()))])+1))
display(df)
##连接lat和long以创建新的column
df['lat,lon'] = df['Latitude'].astype(str)+','+df['Longitude'].astype(str)
display(df)

          City  Latitude  Longitude Country
1        Tokyo   35.6895   139.6917   Japan
2  Los Angeles   34.0522  -118.2437     USA
3       London   51.5074    -0.1278      UK

          City  Latitude  Longitude Country            lat,lon
1        Tokyo   35.6895   139.6917   Japan   35.6895,139.6917
2  Los Angeles   34.0522  -118.2437     USA  34.0522,-118.2437
3       London   51.5074    -0.1278      UK    51.5074,-0.1278

## 修改colunmns的顺序

In [ ]:
original_columns = df.columns.tolist()  # 获取原始列名列表
print("Original columns:", original_columns)
new_columns = ['Country', 'City', 'Latitude', 'Longitude', 'lat,lon']  # 新的列名顺序
display(df)
print("New columns:", df.columns.tolist())  # 输出新的列名列表

Original columns: ['City', 'Latitude', 'Longitude', 'Country', 'lat,lon']

  Country         City  Latitude  Longitude            lat,lon
1   Japan        Tokyo   35.6895   139.6917   35.6895,139.6917
2     USA  Los Angeles   34.0522  -118.2437  34.0522,-118.2437
3      UK       London   51.5074    -0.1278    51.5074,-0.1278

New columns: ['Country', 'City', 'Latitude', 'Longitude', 'lat,lon']

# DataFrame 方法
DataFrame 的常用操作和方法如下表所示：

方法名称	|功能描述
|----|----|
head(n)	|返回 DataFrame 的前 n 行数据（默认前 5 行）
tail(n)	|返回 DataFrame 的后 n 行数据（默认后 5 行）
info()	|显示 DataFrame 的简要信息，包括列名、数据类型、非空值数量等
describe()|	返回 DataFrame 数值列的统计信息，如均值、标准差、最小值等
shape	|返回 DataFrame 的行数和列数（行数, 列数）
columns	|返回 DataFrame 的所有列名
index	|返回 DataFrame 的行索引
dtypes	|返回每一列的数值数据类型
sort_values(by)	|按照指定列排序
sort_index()	|按行索引排序
dropna()	|删除含有缺失值（NaN）的行或列
fillna(value)	|用指定的值填充缺失值
isnull()	|判断缺失值，返回一个布尔值 DataFrame
notnull()	|判断非缺失值，返回一个布尔值 DataFrame
loc[]	|按标签索引选择数据
iloc[]	|按位置索引选择数据
at[]	|访问 DataFrame 中单个元素（比 loc[] 更高效）
iat[]	|访问 DataFrame 中单个元素（比 iloc[] 更高效）
apply(func)	|对 DataFrame 或 Series 应用一个函数
applymap(func)	|对 DataFrame 的每个元素应用函数（仅对 DataFrame）
groupby(by)	|分组操作，用于按某一列分组进行汇总统计
pivot_table()	|创建透视表
merge()	|合并多个 DataFrame（类似 SQL 的 JOIN 操作）
concat()|	按行或按列连接多个 DataFrame
to_csv()|	将 DataFrame 导出为 CSV 文件
to_excel()	|将 DataFrame 导出为 Excel 文件
to_json()	|将 DataFrame 导出为 JSON 格式
to_sql()	|将 DataFrame 导出为 SQL 数据库
query()	|使用 SQL 风格的语法查询 DataFrame
duplicated()|	返回布尔值 DataFrame，指示每行是否是重复的
drop_duplicates()|	删除重复的行
set_index()	|设置 DataFrame 的索引
reset_index()	|重置 DataFrame 的索引
transpose()	|转置 DataFrame（行列交换）

In [119]:
import pandas as pd
#构建data字典
data = {
"City": ["Tokyo", "Los Angeles", "London"],
"Latitude": [35.6895, 34.0522, 51.5074],
"Longitude": [139.6917, -118.2437, -0.1278],
"Country": ["Japan", "USA", "UK"],
}

In [120]:
#构建dataframe
df = pd.DataFrame(data,index=range(1,len(data[next(iter(data.keys()))])+1))
display(df)

          City  Latitude  Longitude Country
1        Tokyo   35.6895   139.6917   Japan
2  Los Angeles   34.0522  -118.2437     USA
3       London   51.5074    -0.1278      UK

In [121]:
df.info()  # 直接输出DataFrame的信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 1 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       3 non-null      object
 1   Latitude   3 non-null      float64
 2   Longitude  3 non-null      float64
 3   Country    3 non-null      object
dtypes: float64(2), object(2)
memory usage: 228.0+ bytes

In [122]:
print(
    df.index, '\n' ,# 输出索引
    df.columns # 输出列名
)

RangeIndex(start=1, stop=4, step=1)
 Index(['City', 'Latitude', 'Longitude', 'Country'], dtype='object')

In [123]:
print(df.sort_values(by='Latitude', ascending=True))  # 按照纬度升序排序

          City  Latitude  Longitude Country
2  Los Angeles   34.0522  -118.2437     USA
1        Tokyo   35.6895   139.6917   Japan
3       London   51.5074    -0.1278      UK

### 特定值填充缺失行

In [179]:
data_with_nan = {
"City": ["Tokyo", "Los Angeles", "London", "Paris"],
"Population": [37400068, 3970000, None, 2140526],
}
df_nan = pd.DataFrame(data_with_nan)
#用平均值填充
df_new = df_nan.fillna(value=df_nan['Population'].mean(),inplace=False)#TRUE表示直接在原df上修改
display(df_new)

          City    Population
0        Tokyo  3.740007e+07
1  Los Angeles  3.970000e+06
2       London  1.450353e+07
3        Paris  2.140526e+06

## 选取指定列，返回series

In [174]:
#输出cityseries
city_series = df['City']  # 使用列名访问城市系列
print(city_series)  # 输出城市系列

KeyError: 'City'

### select specified multiple columns,输出dataframe

In [ ]:
cityofcountry = df[['City','Country']]  # 选择城市和国家两列
print(cityofcountry)  # 输出城市和国家数据

          City Country
1        Tokyo   Japan
2  Los Angeles     USA
3       London      UK

## 基于单个条件过滤数据

In [ ]:
western_cities = df[df['Longitude']<0]  # 选择经度小于0的城市
print(western_cities)  # 输出西方城市数据

          City  Latitude  Longitude Country
2  Los Angeles   34.0522  -118.2437     USA
3       London   51.5074    -0.1278      UK

In [ ]:
USA = df[df['Country']=='USA']
print(USA)  # 输出美国城市数据

          City  Latitude  Longitude Country
2  Los Angeles   34.0522  -118.2437     USA

## 基于多个条件过滤数据

In [ ]:
northern_western = df[(df["Latitude"] > 40) & (df["Longitude"] < 0)]
print(f"\nNorthern Western cities:\n{northern_western}")

Northern Western cities:
     City  Latitude  Longitude Country
3  London   51.5074    -0.1278      UK

## 分组统计

单列分组

In [ ]:
import pandas as pd
df = pd.DataFrame([['a', 'man', 120, 90],
                   ['b', 'woman', 130, 100],
                   ['a', 'man', 110, 108],
                   ['a', 'woman', 120, 118]], columns=['level', 'gender', 'math','chinese'])
display(df)
# 按照'gender'列的值来分组，创建一个groupby对象
group = df.groupby(['gender'])
group['math'].mean()  # 计算每个性别的数学平均分

  level gender  math  chinese
0     a    man   120       90
1     b  woman   130      100
2     a    man   110      108
3     a  woman   120      118

gender
man      115.0
woman    125.0
Name: math, dtype: float64

多列分组

In [ ]:
group1 = df.groupby(['level','gender'])
group1['math'].mean()  # 计算每个性别和级别的数学平均分

level  gender
a      man       115.0
       woman     120.0
b      woman     130.0
Name: math, dtype: float64

# 合并
concat()	拼接，用于将多个DataFrame按行或按列拼接起来  
merge()	合并，用于基于共享的列（键）来进行左右合并两个DataFrame  
join()	连接，用于基于索引来连接两个DataFrame

## concat()函数用于沿指定 行或列 拼接多个 DataFrame 或 Series。
concat() 用于将多个 DataFrame 沿指定轴（行或列）进行连接，常用于行合并（垂直连接）或列合并（水平连接）。

参数	|说明
|----|----|
objs	|需要合并的 DataFrame 列表
axis	|合并的轴，0 表示按行合并，1 表示按列合并
ignore_index	|是否忽略索引，重新生成索引（默认为 False）
keys	|为合并的对象提供层次化索引

In [ ]:
df1 = pd.DataFrame({
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }, index=[0, 1, 2, 3], )
print(df1)

df2 = pd.DataFrame({
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    }, index=[4, 5, 6, 7], )
print(df2)

df3 = pd.DataFrame({
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    }, index=[8, 9, 10, 11], )
print(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## 上下拼接（默认拼接

In [ ]:
pd.concat([df1,df2,df3],ignore_index=True)  # 默认按行拼接，ignore_index=True表示重新索引])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

## 带有 key 的拼接
keys 参数为拼接的各部分指定标签，构建一个多层索引。

In [ ]:
pd.concat([df1, df2, df3], keys=["x", "y", "z"])  # 带有 key 的拼接

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

# 左右拼接
使用参数axis进行左右拼接，默认是<font color =blue>外连接</font>

In [ ]:
pd.concat([df1,df2,df3],axis=1)  # 左右拼接，默认是外连接

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

<font color=blue>内连接拼接</font>  
内连接是基于共同的列或索引进行匹配，只保留所有输入 DataFrame 共有的索引行（即索引的交集），类似于数据库中的 INNER JOIN。  
 axis=0（按行拼接，纵向堆叠）且 join="inner" 时，核心作用是：只保留所有输入 DataFrame 共有的列（即列名的交集），其他不共有的列会被过滤掉，最终按行拼接保留的列。

In [ ]:
print(pd.concat([df1, df2,df3], axis=0, join="inner"))

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

# 使用concat添加新的列

In [ ]:
new_col = pd.Series(["X0", "X1", "X2", "X3"], name="X")
print(pd.concat([df1, new_col], axis=1))

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

# 左右合并 merge
merge()用于基于一个或多个键（类似SQL的JOIN操作）来合并两个DataFrame。它支持多种连接方式：inner（内连接）、outer（外连接）、left（左连接）、right（右连接）和 cross 交叉连接。
参数	|说明
|----|----|
left	|左侧 DataFrame
right	|右侧 DataFrame
how	|合并方式，支持 'inner', 'outer', 'left', 'right'
on	|连接的列名（如果两侧列名不同，可使用 left_on 和 right_on）
left_on	|左侧 DataFrame 的连接列
right_on	|右侧 DataFrame 的连接列
suffixes	|添加后缀，以区分重复的列名

单个key连接

In [ ]:
left = pd.DataFrame({
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    })

right = pd.DataFrame({
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    })

print(pd.merge(left, right, on="key"))

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

多个key连接

In [ ]:
left = pd.DataFrame({
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    })
right = pd.DataFrame({
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    })

1.inner内连接（默认）  
只保留在 left 和 right 中 key1 和 key2 两列的值都匹配的行。没有匹配的行会被丢弃。

In [ ]:
print(pd.merge(left, right, on=["key1", "key2"]))

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

2.外连接，保留两个数据框 left 和 right 中的所有行。没有匹配的部分会填充 NaN。它是最全面的合并方式，返回的是两个数据框的并集。

In [ ]:
print(pd.merge(left,right,on=["key1", "key2"],how='outer')) # outer外连接

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K0  NaN  NaN   C3   D3
5   K2   K1   A3   B3  NaN  NaN

3.左连接，保留left所有行，右表（right）中匹配的行保留，不匹配的用 NaN 填充。

In [ ]:
print(pd.merge(left,right,how='left',on=['key1','key2'])) # left左连接

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

4.右连接，保留右表（right）的所有行，左表（left）中匹配的行保留，不匹配的用 NaN 填充。

In [ ]:
print(pd.merge(left,right,how='right',on=['key1','key2']))# right右连接

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

5.cross 交叉连接,返回笛卡尔积，所有组合,不需要指定 on 参数，因为交叉连接不依赖于任何列的匹配。

In [ ]:
print(pd.merge(left,right,how='cross'))

   key1_x key2_x   A   B key1_y key2_y   C   D
0      K0     K0  A0  B0     K0     K0  C0  D0
1      K0     K0  A0  B0     K1     K0  C1  D1
2      K0     K0  A0  B0     K1     K0  C2  D2
3      K0     K0  A0  B0     K2     K0  C3  D3
4      K0     K1  A1  B1     K0     K0  C0  D0
5      K0     K1  A1  B1     K1     K0  C1  D1
6      K0     K1  A1  B1     K1     K0  C2  D2
7      K0     K1  A1  B1     K2     K0  C3  D3
8      K1     K0  A2  B2     K0     K0  C0  D0
9      K1     K0  A2  B2     K1     K0  C1  D1
10     K1     K0  A2  B2     K1     K0  C2  D2
11     K1     K0  A2  B2     K2     K0  C3  D3
12     K2     K1  A3  B3     K0     K0  C0  D0
13     K2     K1  A3  B3     K1     K0  C1  D1
14     K2     K1  A3  B3     K1     K0  C2  D2
15     K2     K1  A3  B3     K2     K0  C3  D3

# 索引连接 join
join()是基于索引来连接两个DataFrame的。如果需要根据索引（行标签）将两个DataFrame合并，可以使用join()。

join默认使用left连接

In [ ]:
left = pd.DataFrame({
        "A": ["A0", "A1", "A2"],
        "B": ["B0", "B1", "B2"]
    }, index=["K0", "K1", "K2"])

right = pd.DataFrame({
        "C": ["C0", "C2", "C3"],
        "D": ["D0", "D2", "D3"]
    }, index=["K0", "K2", "K3"])

# join 默认 how="left"
print(left.join(right))

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

 right 右连接

In [ ]:
print(left.join(right, how="right"))

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3

内连接

In [ ]:
print(left.join(right, how="inner"))

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2

此外还有outer和cross

指定列连接 join
如果 left 和 right 数据框中有公共列（如 key），我们可以使用 on 参数指定按列进行连接，而不是使用索引。

In [ ]:
left = pd.DataFrame({
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "key": ["K0", "K1", "K0", "K1"],
    })

right = pd.DataFrame({
        "C": ["C0", "C1"],
        "D": ["D0", "D1"]
    }, index=["K0", "K1"])

print(left.join(right, on="key"))

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

# CSV文件处理

pd.read_csv()用于从文件或者在线资源中读取csv，并将其转换为dataframe格式
参数	|说明	|默认值
|----|----|----|
filepath_or_buffer	|CSV 文件的路径或文件对象（支持 URL、文件路径、文件对象等）|	必需参数
***sep***	|定义字段分隔符，默认是逗号（,），可以改为其他字符，如制表符（\t）	|','
header|	指定行号作为列标题，默认为 0（表示第一行），或者设置为 None 没有标题|	0
names	|自定义列名，传入列名列表	|None
index_col	|用作行索引的列的列号或列名|	None
usecols	|读取指定的列，可以是列的名称或列的索引|	None
dtype	|强制将列转换为指定的数据类型	|None
skiprows	|跳过文件开头的指定行数，或者传入一个行号的列表	|None
nrows	|读取前 N 行数据	|None
na_values	|指定哪些值应视为缺失值（NaN）|	None
skipfooter	|跳过文件结尾的指定行数	|0
***encoding***	|文件的编码格式（如 utf-8，latin1 等）|	None

In [ ]:
#读取nba数据
import pandas as pd
nba_data = pd.read_csv('../data/nba.csv',skipfooter=1)
#读取标题
print(nba_data.columns)#或者df.head()
display(nba_data)

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

C:\Users\86177\AppData\Local\Temp\ipykernel_16032\473826853.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  nba_data = pd.read_csv('../data/nba.csv',skipfooter=1)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [186]:
#输出平均weight
print(nba_data['Weight'].mean())

221.52297592997812

# df.to_csv()用于将df文件写入csv
参数	|说明	|默认值
|---|---|---|
path_or_buffer	|CSV 文件的路径或文件对象（支持文件路径、文件对象）|	必需参数
sep	|定义字段分隔符，默认是逗号（,），可以改为其他字符，如制表符（\t）	|','
index	|是否写入行索引，默认 True 表示写入索引	|True
columns	|指定写入的列，可以是列的名称列表	|None
header	|是否写入列名，默认 True 表示写入列名，设置为 False 表示不写列名	|True
mode	|写入文件的模式，默认是 w（写模式），可以设置为 a（追加模式）|	'w'
encoding	|文件的编码格式，如 utf-8，latin1 等|None
line_terminator	|定义行结束符，默认为 \n	|None
quoting	|设置如何对文件中的数据进行引号处理（0-3，具体引用方式可查文档）|	None
quotechar	|设置用于引用的字符，默认为双引号 "	|'"'
date_format	|自定义日期格式，如果列包含日期数据，则可以使用此参数指定日期格式|	None
doublequote|	如果为 True，则在写入时会将包含引号的文本使用双引号括起来	|True

In [189]:
#填充缺失值
nba_data_filled = nba_data.fillna(value={'Weight':nba_data['Weight'].mean()})
#path对象
from pathlib import Path
path = Path('../data/nba_filled.csv')
with path.open('w') as file:
    nba_data_filled.to_csv(file)
#读取filled csv
import csv
with open('../data/nba_filled.csv','r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['', 'Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']
[]
['0', 'Avery Bradley', 'Boston Celtics', '0.0', 'PG', '25.0', '6-2', '180.0', 'Texas', '7730337.0']
[]
['1', 'Jae Crowder', 'Boston Celtics', '99.0', 'SF', '25.0', '6-6', '235.0', 'Marquette', '6796117.0']
[]
['2', 'John Holland', 'Boston Celtics', '30.0', 'SG', '27.0', '6-5', '205.0', 'Boston University', '']
[]
['3', 'R.J. Hunter', 'Boston Celtics', '28.0', 'SG', '22.0', '6-5', '185.0', 'Georgia State', '1148640.0']
[]
['4', 'Jonas Jerebko', 'Boston Celtics', '8.0', 'PF', '29.0', '6-10', '231.0', '', '5000000.0']
[]
['5', 'Amir Johnson', 'Boston Celtics', '90.0', 'PF', '29.0', '6-9', '240.0', '', '12000000.0']
[]
['6', 'Jordan Mickey', 'Boston Celtics', '55.0', 'PF', '21.0', '6-8', '235.0', 'LSU', '1170960.0']
[]
['7', 'Kelly Olynyk', 'Boston Celtics', '41.0', 'C', '25.0', '7-0', '238.0', 'Gonzaga', '2165160.0']
[]
['8', 'Terry Rozier', 'Boston Celtics', '12.0', 'PG', '22.0', '6-2', '190.0', 'Louisville', '1824360.0']
[]
['9', 'Marcus Smart', 'Boston Celtics', '36.0', 'PG', '22.0', '6-4', '220.0', 'Oklahoma State', '3431040.0']
[]
['10', 'Jared Sullinger', 'Boston Celtics', '7.0', 'C', '24.0', '6-9', '260.0', 'Ohio State', '2569260.0']
[]
['11', 'Isaiah Thomas', 'Boston Celtics', '4.0', 'PG', '27.0', '5-9', '185.0', 'Washington', '6912869.0']
[]
['12', 'Evan Turner', 'Boston Celtics', '11.0', 'SG', '27.0', '6-7', '220.0', 'Ohio State', '3425510.0']
[]
['13', 'James Young', 'Boston Celtics', '13.0', 'SG', '20.0', '6-6', '215.0', 'Kentucky', '1749840.0']
[]
['14', 'Tyler Zeller', 'Boston Celtics', '44.0', 'C', '26.0', '7-0', '253.0', 'North Carolina', '2616975.0']
[]
['15', 'Bojan Bogdanovic', 'Brooklyn Nets', '44.0', 'SG', '27.0', '6-8', '216.0', '', '3425510.0']
[]
['16', 'Markel Brown', 'Brooklyn Nets', '22.0', 'SG', '24.0', '6-3', '190.0', 'Oklahoma State', '845059.0']
[]
['17', 'Wayne Ellington', 'Brooklyn Nets', '21.0', 'SG', '28.0', '6-4', '200.0', 'North Carolina', '1500000.0']
[]
['18', 'Rondae Hollis-Jefferson', 'Brooklyn Nets', '24.0', 'SG', '21.0', '6-7', '220.0', 'Arizona', '1335480.0']
[]
['19', 'Jarrett Jack', 'Brooklyn Nets', '2.0', 'PG', '32.0', '6-3', '200.0', 'Georgia Tech', '6300000.0']
[]
['20', 'Sergey Karasev', 'Brooklyn Nets', '10.0', 'SG', '22.0', '6-7', '208.0', '', '1599840.0']
[]
['21', 'Sean Kilpatrick', 'Brooklyn Nets', '6.0', 'SG', '26.0', '6-4', '219.0', 'Cincinnati', '134215.0']
[]
['22', 'Shane Larkin', 'Brooklyn Nets', '0.0', 'PG', '23.0', '5-11', '175.0', 'Miami (FL)', '1500000.0']
[]
['23', 'Brook Lopez', 'Brooklyn Nets', '11.0', 'C', '28.0', '7-0', '275.0', 'Stanford', '19689000.0']
[]
['24', 'Chris McCullough', 'Brooklyn Nets', '1.0', 'PF', '21.0', '6-11', '200.0', 'Syracuse', '1140240.0']
[]
['25', 'Willie Reed', 'Brooklyn Nets', '33.0', 'PF', '26.0', '6-10', '220.0', 'Saint Louis', '947276.0']
[]
['26', 'Thomas Robinson', 'Brooklyn Nets', '41.0', 'PF', '25.0', '6-10', '237.0', 'Kansas', '981348.0']
[]
['27', 'Henry Sims', 'Brooklyn Nets', '14.0', 'C', '26.0', '6-10', '248.0', 'Georgetown', '947276.0']
[]
['28', 'Donald Sloan', 'Brooklyn Nets', '15.0', 'PG', '28.0', '6-3', '205.0', 'Texas A&M', '947276.0']
[]
['29', 'Thaddeus Young', 'Brooklyn Nets', '30.0', 'PF', '27.0', '6-8', '221.0', 'Georgia Tech', '11235955.0']
[]
['30', 'Arron Afflalo', 'New York Knicks', '4.0', 'SG', '30.0', '6-5', '210.0', 'UCLA', '8000000.0']
[]
['31', 'Lou Amundson', 'New York Knicks', '17.0', 'PF', '33.0', '6-9', '220.0', 'UNLV', '1635476.0']
[]
['32', 'Thanasis Antetokounmpo', 'New York Knicks', '43.0', 'SF', '23.0', '6-7', '205.0', '', '30888.0']
[]
['33', 'Carmelo Anthony', 'New York Knicks', '7.0', 'SF', '32.0', '6-8', '240.0', 'Syracuse', '22875000.0']
[]
['34', 'Jose Calderon', 'New York Knicks', '3.0', 'PG', '34.0', '6-3', '200.0', '', '7402812.0']
[]
['35', 'Cleanthony Early', 'New York Knicks', '11.0', 'SF', '25.0', '6-8', '210.0', 'Wichita State', '845059.0']
[]
['36', 'Langston Galloway', 'New York Knicks', '2.0', 'SG', '24.0', '6-2', '200.0', "Saint Joseph's", '845059.0']
[]
['37', 'Jerian Grant', 'New York Knicks', '13.0', 'PG', '23.0', '6-4', '195.0', 'Notre Dame', '1572360.0']
[]
['38', 'Robin Lopez', 'New York Knicks', '8.0', 'C', '28.0', '7-0', '255.0', 'Stanford', '12650000.0']
[]
['39', "Kyle O'Quinn", 'New York Knicks', '9.0', 'PF', '26.0', '6-10', '250.0', 'Norfolk State', '3750000.0']
[]
['40', 'Kristaps Porzingis', 'New York Knicks', '6.0', 'PF', '20.0', '7-3', '240.0', '', '4131720.0']
[]
['41', 'Kevin Seraphin', 'New York Knicks', '1.0', 'C', '26.0', '6-10', '278.0', '', '2814000.0']
[]
['42', 'Lance Thomas', 'New York Knicks', '42.0', 'SF', '28.0', '6-8', '235.0', 'Duke', '1636842.0']
[]
['43', 'Sasha Vujacic', 'New York Knicks', '18.0', 'SG', '32.0', '6-7', '195.0', '', '947276.0']
[]
['44', 'Derrick Williams', 'New York Knicks', '23.0', 'PF', '25.0', '6-8', '240.0', 'Arizona', '4000000.0']
[]
['45', 'Tony Wroten', 'New York Knicks', '5.0', 'SG', '23.0', '6-6', '205.0', 'Washington', '167406.0']
[]
['46', 'Elton Brand', 'Philadelphia 76ers', '42.0', 'PF', '37.0', '6-9', '254.0', 'Duke', '']
[]
['47', 'Isaiah Canaan', 'Philadelphia 76ers', '0.0', 'PG', '25.0', '6-0', '201.0', 'Murray State', '947276.0']
[]
['48', 'Robert Covington', 'Philadelphia 76ers', '33.0', 'SF', '25.0', '6-9', '215.0', 'Tennessee State', '1000000.0']
[]
['49', 'Joel Embiid', 'Philadelphia 76ers', '21.0', 'C', '22.0', '7-0', '250.0', 'Kansas', '4626960.0']
[]
['50', 'Jerami Grant', 'Philadelphia 76ers', '39.0', 'SF', '22.0', '6-8', '210.0', 'Syracuse', '845059.0']
[]
['51', 'Richaun Holmes', 'Philadelphia 76ers', '22.0', 'PF', '22.0', '6-10', '245.0', 'Bowling Green', '1074169.0']
[]
['52', 'Carl Landry', 'Philadelphia 76ers', '7.0', 'PF', '32.0', '6-9', '248.0', 'Purdue', '6500000.0']
[]
['53', 'Kendall Marshall', 'Philadelphia 76ers', '5.0', 'PG', '24.0', '6-4', '200.0', 'North Carolina', '2144772.0']
[]
['54', 'T.J. McConnell', 'Philadelphia 76ers', '12.0', 'PG', '24.0', '6-2', '200.0', 'Arizona', '525093.0']
[]
['55', 'Nerlens Noel', 'Philadelphia 76ers', '4.0', 'PF', '22.0', '6-11', '228.0', 'Kentucky', '3457800.0']
[]
['56', 'Jahlil Okafor', 'Philadelphia 76ers', '8.0', 'C', '20.0', '6-11', '275.0', 'Duke', '4582680.0']
[]
['57', 'Ish Smith', 'Philadelphia 76ers', '1.0', 'PG', '27.0', '6-0', '175.0', 'Wake Forest', '947276.0']
[]
['58', 'Nik Stauskas', 'Philadelphia 76ers', '11.0', 'SG', '22.0', '6-6', '205.0', 'Michigan', '2869440.0']
[]
['59', 'Hollis Thompson', 'Philadelphia 76ers', '31.0', 'SG', '25.0', '6-8', '206.0', 'Georgetown', '947276.0']
[]
['60', 'Christian Wood', 'Philadelphia 76ers', '35.0', 'PF', '20.0', '6-11', '220.0', 'UNLV', '525093.0']
[]
['61', 'Bismack Biyombo', 'Toronto Raptors', '8.0', 'C', '23.0', '6-9', '245.0', '', '2814000.0']
[]
['62', 'Bruno Caboclo', 'Toronto Raptors', '20.0', 'SF', '20.0', '6-9', '205.0', '', '1524000.0']
[]
['63', 'DeMarre Carroll', 'Toronto Raptors', '5.0', 'SF', '29.0', '6-8', '212.0', 'Missouri', '13600000.0']
[]
['64', 'DeMar DeRozan', 'Toronto Raptors', '10.0', 'SG', '26.0', '6-7', '220.0', 'USC', '10050000.0']
[]
['65', 'James Johnson', 'Toronto Raptors', '3.0', 'PF', '29.0', '6-9', '250.0', 'Wake Forest', '2500000.0']
[]
['66', 'Cory Joseph', 'Toronto Raptors', '6.0', 'PG', '24.0', '6-3', '190.0', 'Texas', '7000000.0']
[]
['67', 'Kyle Lowry', 'Toronto Raptors', '7.0', 'PG', '30.0', '6-0', '205.0', 'Villanova', '12000000.0']
[]
['68', 'Lucas Nogueira', 'Toronto Raptors', '92.0', 'C', '23.0', '7-0', '220.0', '', '1842000.0']
[]
['69', 'Patrick Patterson', 'Toronto Raptors', '54.0', 'PF', '27.0', '6-9', '235.0', 'Kentucky', '6268675.0']
[]
['70', 'Norman Powell', 'Toronto Raptors', '24.0', 'SG', '23.0', '6-4', '215.0', 'UCLA', '650000.0']
[]
['71', 'Terrence Ross', 'Toronto Raptors', '31.0', 'SF', '25.0', '6-7', '195.0', 'Washington', '3553917.0']
[]
['72', 'Luis Scola', 'Toronto Raptors', '4.0', 'PF', '36.0', '6-9', '240.0', '', '2900000.0']
[]
['73', 'Jason Thompson', 'Toronto Raptors', '1.0', 'PF', '29.0', '6-11', '250.0', 'Rider', '245177.0']
[]
['74', 'Jonas Valanciunas', 'Toronto Raptors', '17.0', 'C', '24.0', '7-0', '255.0', '', '4660482.0']
[]
['75', 'Delon Wright', 'Toronto Raptors', '55.0', 'PG', '24.0', '6-5', '190.0', 'Utah', '1509360.0']
[]
['76', 'Leandro Barbosa', 'Golden State Warriors', '19.0', 'SG', '33.0', '6-3', '194.0', '', '2500000.0']
[]
['77', 'Harrison Barnes', 'Golden State Warriors', '40.0', 'SF', '24.0', '6-8', '225.0', 'North Carolina', '3873398.0']
[]
['78', 'Andrew Bogut', 'Golden State Warriors', '12.0', 'C', '31.0', '7-0', '260.0', 'Utah', '13800000.0']
[]
['79', 'Ian Clark', 'Golden State Warriors', '21.0', 'SG', '25.0', '6-3', '175.0', 'Belmont', '947276.0']
[]
['80', 'Stephen Curry', 'Golden State Warriors', '30.0', 'PG', '28.0', '6-3', '190.0', 'Davidson', '11370786.0']
[]
['81', 'Festus Ezeli', 'Golden State Warriors', '31.0', 'C', '26.0', '6-11', '265.0', 'Vanderbilt', '2008748.0']
[]
['82', 'Draymond Green', 'Golden State Warriors', '23.0', 'PF', '26.0', '6-7', '230.0', 'Michigan State', '14260870.0']
[]
['83', 'Andre Iguodala', 'Golden State Warriors', '9.0', 'SF', '32.0', '6-6', '215.0', 'Arizona', '11710456.0']
[]
['84', 'Shaun Livingston', 'Golden State Warriors', '34.0', 'PG', '30.0', '6-7', '192.0', '', '5543725.0']
[]
['85', 'Kevon Looney', 'Golden State Warriors', '36.0', 'SF', '20.0', '6-9', '220.0', 'UCLA', '1131960.0']
[]
['86', 'James Michael McAdoo', 'Golden State Warriors', '20.0', 'SF', '23.0', '6-9', '240.0', 'North Carolina', '845059.0']
[]
['87', 'Brandon Rush', 'Golden State Warriors', '4.0', 'SF', '30.0', '6-6', '220.0', 'Kansas', '1270964.0']
[]
['88', 'Marreese Speights', 'Golden State Warriors', '5.0', 'C', '28.0', '6-10', '255.0', 'Florida', '3815000.0']
[]
['89', 'Klay Thompson', 'Golden State Warriors', '11.0', 'SG', '26.0', '6-7', '215.0', 'Washington State', '15501000.0']
[]
['90', 'Anderson Varejao', 'Golden State Warriors', '18.0', 'PF', '33.0', '6-11', '273.0', '', '289755.0']
[]
['91', 'Cole Aldrich', 'Los Angeles Clippers', '45.0', 'C', '27.0', '6-11', '250.0', 'Kansas', '1100602.0']
[]
['92', 'Jeff Ayres', 'Los Angeles Clippers', '19.0', 'PF', '29.0', '6-9', '250.0', 'Arizona State', '111444.0']
[]
['93', 'Jamal Crawford', 'Los Angeles Clippers', '11.0', 'SG', '36.0', '6-5', '195.0', 'Michigan', '5675000.0']
[]
['94', 'Branden Dawson', 'Los Angeles Clippers', '22.0', 'SF', '23.0', '6-6', '225.0', 'Michigan State', '525093.0']
[]
['95', 'Jeff Green', 'Los Angeles Clippers', '8.0', 'SF', '29.0', '6-9', '235.0', 'Georgetown', '9650000.0']
[]
['96', 'Blake Griffin', 'Los Angeles Clippers', '32.0', 'PF', '27.0', '6-10', '251.0', 'Oklahoma', '18907726.0']
[]
['97', 'Wesley Johnson', 'Los Angeles Clippers', '33.0', 'SF', '28.0', '6-7', '215.0', 'Syracuse', '1100602.0']
[]
['98', 'DeAndre Jordan', 'Los Angeles Clippers', '6.0', 'C', '27.0', '6-11', '265.0', 'Texas A&M', '19689000.0']
[]
['99', 'Luc Richard Mbah a Moute', 'Los Angeles Clippers', '12.0', 'PF', '29.0', '6-8', '230.0', 'UCLA', '947276.0']
[]
['100', 'Chris Paul', 'Los Angeles Clippers', '3.0', 'PG', '31.0', '6-0', '175.0', 'Wake Forest', '21468695.0']
[]
['101', 'Paul Pierce', 'Los Angeles Clippers', '34.0', 'SF', '38.0', '6-7', '235.0', 'Kansas', '3376000.0']
[]
['102', 'Pablo Prigioni', 'Los Angeles Clippers', '9.0', 'PG', '39.0', '6-3', '185.0', '', '947726.0']
[]
['103', 'JJ Redick', 'Los Angeles Clippers', '4.0', 'SG', '31.0', '6-4', '190.0', 'Duke', '7085000.0']
[]
['104', 'Austin Rivers', 'Los Angeles Clippers', '25.0', 'PG', '23.0', '6-4', '200.0', 'Duke', '3110796.0']
[]
['105', 'C.J. Wilcox', 'Los Angeles Clippers', '30.0', 'SG', '25.0', '6-5', '195.0', 'Washington', '1159680.0']
[]
['106', 'Brandon Bass', 'Los Angeles Lakers', '2.0', 'PF', '31.0', '6-8', '250.0', 'LSU', '3000000.0']
[]
['107', 'Tarik Black', 'Los Angeles Lakers', '28.0', 'C', '24.0', '6-9', '250.0', 'Kansas', '845059.0']
[]
['108', 'Anthony Brown', 'Los Angeles Lakers', '3.0', 'SF', '23.0', '6-7', '210.0', 'Stanford', '700000.0']
[]
['109', 'Kobe Bryant', 'Los Angeles Lakers', '24.0', 'SF', '37.0', '6-6', '212.0', '', '25000000.0']
[]
['110', 'Jordan Clarkson', 'Los Angeles Lakers', '6.0', 'PG', '24.0', '6-5', '194.0', 'Missouri', '845059.0']
[]
['111', 'Roy Hibbert', 'Los Angeles Lakers', '17.0', 'C', '29.0', '7-2', '270.0', 'Georgetown', '15592217.0']
[]
['112', 'Marcelo Huertas', 'Los Angeles Lakers', '9.0', 'PG', '33.0', '6-3', '200.0', '', '525093.0']
[]
['113', 'Ryan Kelly', 'Los Angeles Lakers', '4.0', 'PF', '25.0', '6-11', '230.0', 'Duke', '1724250.0']
[]
['114', 'Larry Nance Jr.', 'Los Angeles Lakers', '7.0', 'PF', '23.0', '6-9', '230.0', 'Wyoming', '1155600.0']
[]
['115', 'Julius Randle', 'Los Angeles Lakers', '30.0', 'PF', '21.0', '6-9', '250.0', 'Kentucky', '3132240.0']
[]
['116', "D'Angelo Russell", 'Los Angeles Lakers', '1.0', 'PG', '20.0', '6-5', '195.0', 'Ohio State', '5103120.0']
[]
['117', 'Robert Sacre', 'Los Angeles Lakers', '50.0', 'C', '27.0', '7-0', '270.0', 'Gonzaga', '981348.0']
[]
['118', 'Louis Williams', 'Los Angeles Lakers', '23.0', 'SG', '29.0', '6-1', '175.0', '', '7000000.0']
[]
['119', 'Metta World Peace', 'Los Angeles Lakers', '37.0', 'SF', '36.0', '6-7', '260.0', "St. John's", '947276.0']
[]
['120', 'Nick Young', 'Los Angeles Lakers', '0.0', 'SF', '31.0', '6-7', '210.0', 'USC', '5219169.0']
[]
['121', 'Eric Bledsoe', 'Phoenix Suns', '2.0', 'PG', '26.0', '6-1', '190.0', 'Kentucky', '13500000.0']
[]
['122', 'Devin Booker', 'Phoenix Suns', '1.0', 'SG', '19.0', '6-6', '206.0', 'Kentucky', '2127840.0']
[]
['123', 'Chase Budinger', 'Phoenix Suns', '10.0', 'SF', '28.0', '6-7', '209.0', 'Arizona', '206192.0']
[]
['124', 'Tyson Chandler', 'Phoenix Suns', '4.0', 'C', '33.0', '7-1', '240.0', '', '13000000.0']
[]
['125', 'Archie Goodwin', 'Phoenix Suns', '20.0', 'SG', '21.0', '6-5', '200.0', 'Kentucky', '1160160.0']
[]
['126', 'John Jenkins', 'Phoenix Suns', '23.0', 'SG', '25.0', '6-4', '215.0', 'Vanderbilt', '981348.0']
[]
['127', 'Brandon Knight', 'Phoenix Suns', '3.0', 'PG', '24.0', '6-3', '189.0', 'Kentucky', '13500000.0']
[]
['128', 'Alex Len', 'Phoenix Suns', '21.0', 'C', '22.0', '7-1', '260.0', 'Maryland', '3807120.0']
[]
['129', 'Jon Leuer', 'Phoenix Suns', '30.0', 'PF', '27.0', '6-10', '228.0', 'Wisconsin', '1035000.0']
[]
['130', 'Phil Pressey', 'Phoenix Suns', '25.0', 'PG', '25.0', '5-11', '175.0', 'Missouri', '55722.0']
[]
['131', 'Ronnie Price', 'Phoenix Suns', '14.0', 'PG', '32.0', '6-2', '190.0', 'Utah Valley', '947276.0']
[]
['132', 'Mirza Teletovic', 'Phoenix Suns', '35.0', 'PF', '30.0', '6-9', '242.0', '', '5500000.0']
[]
['133', 'P.J. Tucker', 'Phoenix Suns', '17.0', 'SF', '31.0', '6-6', '245.0', 'Texas', '5500000.0']
[]
['134', 'T.J. Warren', 'Phoenix Suns', '12.0', 'SF', '22.0', '6-8', '230.0', 'North Carolina State', '2041080.0']
[]
['135', 'Alan Williams', 'Phoenix Suns', '15.0', 'C', '23.0', '6-8', '260.0', 'UC Santa Barbara', '83397.0']
[]
['136', 'Quincy Acy', 'Sacramento Kings', '13.0', 'SF', '25.0', '6-7', '240.0', 'Baylor', '981348.0']
[]
['137', 'James Anderson', 'Sacramento Kings', '5.0', 'SG', '27.0', '6-6', '213.0', 'Oklahoma State', '1015421.0']
[]
['138', 'Marco Belinelli', 'Sacramento Kings', '3.0', 'SG', '30.0', '6-5', '210.0', '', '6060606.0']
[]
['139', 'Caron Butler', 'Sacramento Kings', '31.0', 'SF', '36.0', '6-7', '228.0', 'Connecticut', '1449187.0']
[]
['140', 'Omri Casspi', 'Sacramento Kings', '18.0', 'SF', '27.0', '6-9', '225.0', '', '2836186.0']
[]
['141', 'Willie Cauley-Stein', 'Sacramento Kings', '0.0', 'C', '22.0', '7-0', '240.0', 'Kentucky', '3398280.0']
[]
['142', 'Darren Collison', 'Sacramento Kings', '7.0', 'PG', '28.0', '6-0', '175.0', 'UCLA', '5013559.0']
[]
['143', 'DeMarcus Cousins', 'Sacramento Kings', '15.0', 'C', '25.0', '6-11', '270.0', 'Kentucky', '15851950.0']
[]
['144', 'Seth Curry', 'Sacramento Kings', '30.0', 'SG', '25.0', '6-2', '185.0', 'Duke', '947276.0']
[]
['145', 'Duje Dukan', 'Sacramento Kings', '26.0', 'PF', '24.0', '6-9', '220.0', 'Wisconsin', '525093.0']
[]
['146', 'Rudy Gay', 'Sacramento Kings', '8.0', 'SF', '29.0', '6-8', '230.0', 'Connecticut', '12403101.0']
[]
['147', 'Kosta Koufos', 'Sacramento Kings', '41.0', 'C', '27.0', '7-0', '265.0', 'Ohio State', '7700000.0']
[]
['148', 'Ben McLemore', 'Sacramento Kings', '23.0', 'SG', '23.0', '6-5', '195.0', 'Kansas', '3156600.0']
[]
['149', 'Eric Moreland', 'Sacramento Kings', '25.0', 'PF', '24.0', '6-10', '238.0', 'Oregon State', '845059.0']
[]
['150', 'Rajon Rondo', 'Sacramento Kings', '9.0', 'PG', '30.0', '6-1', '186.0', 'Kentucky', '9500000.0']
[]
['151', 'Cameron Bairstow', 'Chicago Bulls', '41.0', 'PF', '25.0', '6-9', '250.0', 'New Mexico', '845059.0']
[]
['152', 'Aaron Brooks', 'Chicago Bulls', '0.0', 'PG', '31.0', '6-0', '161.0', 'Oregon', '2250000.0']
[]
['153', 'Jimmy Butler', 'Chicago Bulls', '21.0', 'SG', '26.0', '6-7', '220.0', 'Marquette', '16407500.0']
[]
['154', 'Mike Dunleavy', 'Chicago Bulls', '34.0', 'SG', '35.0', '6-9', '230.0', 'Duke', '4500000.0']
[]
['155', 'Cristiano Felicio', 'Chicago Bulls', '6.0', 'PF', '23.0', '6-10', '275.0', '', '525093.0']
[]
['156', 'Pau Gasol', 'Chicago Bulls', '16.0', 'C', '35.0', '7-0', '250.0', '', '7448760.0']
[]
['157', 'Taj Gibson', 'Chicago Bulls', '22.0', 'PF', '30.0', '6-9', '225.0', 'USC', '8500000.0']
[]
['158', 'Justin Holiday', 'Chicago Bulls', '7.0', 'SG', '27.0', '6-6', '185.0', 'Washington', '947276.0']
[]
['159', 'Doug McDermott', 'Chicago Bulls', '3.0', 'SF', '24.0', '6-8', '225.0', 'Creighton', '2380440.0']
[]
['160', 'Nikola Mirotic', 'Chicago Bulls', '44.0', 'PF', '25.0', '6-10', '220.0', '', '5543725.0']
[]
['161', "E'Twaun Moore", 'Chicago Bulls', '55.0', 'SG', '27.0', '6-4', '191.0', 'Purdue', '1015421.0']
[]
['162', 'Joakim Noah', 'Chicago Bulls', '13.0', 'C', '31.0', '6-11', '232.0', 'Florida', '13400000.0']
[]
['163', 'Bobby Portis', 'Chicago Bulls', '5.0', 'PF', '21.0', '6-11', '230.0', 'Arkansas', '1391160.0']
[]
['164', 'Derrick Rose', 'Chicago Bulls', '1.0', 'PG', '27.0', '6-3', '190.0', 'Memphis', '20093064.0']
[]
['165', 'Tony Snell', 'Chicago Bulls', '20.0', 'SF', '24.0', '6-7', '200.0', 'New Mexico', '1535880.0']
[]
['166', 'Matthew Dellavedova', 'Cleveland Cavaliers', '8.0', 'PG', '25.0', '6-4', '198.0', "Saint Mary's", '1147276.0']
[]
['167', 'Channing Frye', 'Cleveland Cavaliers', '9.0', 'PF', '33.0', '6-11', '255.0', 'Arizona', '8193029.0']
[]
['168', 'Kyrie Irving', 'Cleveland Cavaliers', '2.0', 'PG', '24.0', '6-3', '193.0', 'Duke', '16407501.0']
[]
['169', 'LeBron James', 'Cleveland Cavaliers', '23.0', 'SF', '31.0', '6-8', '250.0', '', '22970500.0']
[]
['170', 'Richard Jefferson', 'Cleveland Cavaliers', '24.0', 'SF', '35.0', '6-7', '233.0', 'Arizona', '947276.0']
[]
['171', 'Dahntay Jones', 'Cleveland Cavaliers', '30.0', 'SG', '35.0', '6-6', '225.0', 'Duke', '']
[]
['172', 'James Jones', 'Cleveland Cavaliers', '1.0', 'SG', '35.0', '6-8', '218.0', 'Miami (FL)', '947276.0']
[]
['173', 'Sasha Kaun', 'Cleveland Cavaliers', '14.0', 'C', '31.0', '6-11', '260.0', 'Kansas', '1276000.0']
[]
['174', 'Kevin Love', 'Cleveland Cavaliers', '0.0', 'PF', '27.0', '6-10', '251.0', 'UCLA', '19689000.0']
[]
['175', 'Jordan McRae', 'Cleveland Cavaliers', '12.0', 'SG', '25.0', '6-5', '179.0', 'Tennessee', '111196.0']
[]
['176', 'Timofey Mozgov', 'Cleveland Cavaliers', '20.0', 'C', '29.0', '7-1', '275.0', '', '4950000.0']
[]
['177', 'Iman Shumpert', 'Cleveland Cavaliers', '4.0', 'SG', '25.0', '6-5', '220.0', 'Georgia Tech', '8988765.0']
[]
['178', 'J.R. Smith', 'Cleveland Cavaliers', '5.0', 'SG', '30.0', '6-6', '225.0', '', '5000000.0']
[]
['179', 'Tristan Thompson', 'Cleveland Cavaliers', '13.0', 'C', '25.0', '6-9', '238.0', 'Texas', '14260870.0']
[]
['180', 'Mo Williams', 'Cleveland Cavaliers', '52.0', 'PG', '33.0', '6-1', '198.0', 'Alabama', '2100000.0']
[]
['181', 'Joel Anthony', 'Detroit Pistons', '50.0', 'C', '33.0', '6-9', '245.0', 'UNLV', '2500000.0']
[]