In [34]:
import pandas as pd 
#查看版本
print(pd.__version__)

2.3.1

# pandas 由index，keys，values组成
## 一个dataframe由不同的series构成
Series： 类似于一维数组或列表，是由一组数据以及与之相关的数据标签（索引）构成。Series 可以看作是 DataFrame 中的一列，也可以是单独存在的一维数据结构。Series 可以存储任何数据类型（整数、浮点数、字符串等），并通过标签（索引）来访问元素。

DataFrame： 类似于一个二维表格，它是 Pandas 中最重要的数据结构。DataFrame 可以看作是由多个 Series 按列排列构成的表格，它既有行索引也有列索引，因此可以方便地进行行列选择、过滤、合并等操作。

# 创建 Series
可以使用 pd.Series() 构造函数创建一个 Series 对象，传递一个数据数组（可以是列表、NumPy 数组等）和一个可选的索引数组。

`pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)`

参数说明：

data：Series 的数据部分，可以是列表、数组、字典、标量值等。如果不提供此参数，则创建一个空的 Series。

index：Series 的索引部分，用于对数据进行标记。可以是列表、数组、索引对象等。如果不提供此参数，则创建一个默认的整数索引。

dtype：指定 Series 的数据类型。可以是 NumPy 的数据类型，例如 np.int64、np.float64 等。如果不提供此参数，则根据数据自动推断数据类型。

name：Series 的名称，用于标识 Series 对象。如果提供了此参数，则创建的 Series 对象将具有指定的名称。

copy：是否复制数据。默认为 False，表示不复制数据。如果设置为 True，则复制输入的数据。

fastpath：是否启用快速路径。默认为 False。启用快速路径可能会在某些情况下提高性能。

In [35]:
#创建一个serises对象
s = pd.Series([1, 2, 3, 4, 5],name='number')
print(s)

0    1
1    2
2    3
3    4
4    5
Name: number, dtype: int64

## series可以自定义索引
index不一定是数字，也可以是字母等等

In [36]:
 #如果你想要显式地设置索引，可以这样做：
custom_index = [1, 2, 3, 4]  # 自定义索引
series_with_index = pd.Series([1, 2, 3, 4], index=custom_index, name='A')

# 显示带有自定义索引的Series对象
print(series_with_index)

1    1
2    2
3    3
4    4
Name: A, dtype: int64

# 我们也可以使用key：value（类似dict）来创建series

In [37]:
sites ={1:'Google',2: 'Runoob',3: 'Wiki'}
s = pd.Series(sites,dtype=pd.StringDtype(),name='site')
print(s.dtype)    
print(s)

string
1    Google
2    Runoob
3      Wiki
Name: site, dtype: string

## 可以获取sites中的一部分数据，用index来指定

In [38]:
sites ={1:'Google',2: 'Runoob',3: 'Wiki'}
s = pd.Series(sites,index=(1,2),name='site')
print(s)

1    Google
2    Runoob
Name: site, dtype: object

## add new elements to a series
第一种：索引添加，Series[新索引] = 新值

第二种：使用 pd.concat() 拼接，s_updated = pd.concat([s, new_elements])

In [39]:
sites ={1:'Google',2: 'Runoob',3: 'Wiki'}
s = pd.Series(sites,name='site')
#第一种方法，索引添加
s[4]='Baidu'
print(s)
#第二种方法，使用pd.concat()拼接
new_elements = pd.Series(data=['zhihu','blog'],index=[5,6],name='site')
s_updated = pd.concat([s, new_elements])
# 显示更新后的Series对象
print(s_updated)

1    Google
2    Runoob
3      Wiki
4     Baidu
Name: site, dtype: object
1    Google
2    Runoob
3      Wiki
4     Baidu
5     zhihu
6      blog
Name: site, dtype: object

# Series 方法
方法名称	|功能描述
|----|----|
index	|获取 Series 的索引
values	|获取 Series 的数据部分（返回 NumPy 数组）
head(n)	|返回 Series 的前 n 行（默认为 5）
tail(n)	|返回 Series 的后 n 行（默认为 5）
dtype	|返回 Series 中数据的类型
shape	|返回 Series 的形状（行数）
describe()	|返回 Series 的统计描述（如均值、标准差、最小值等）
isnull()	|	返回一个布尔 Series，表示每个元素是否为 NaN
notnull()  |返回一个布尔 Series，表示每个元素是否不是 NaN
unique()	|返回 Series 中的唯一值（去重）
value_counts()	|返回 Series 中每个唯一值的出现次数
map(func)	|将指定函数应用于 Series 中的每个元素
apply(func)	|将指定函数应用于 Series 中的每个元素，常用于自定义操作
astype(dtype)	|将 Series 转换为指定的类型
sort_values()	|对 Series 中的元素进行排序（按值排序）
sort_index()	|对 Series 的索引进行排序
dropna()	|删除 Series 中的缺失值（NaN）
fillna(value)	|填充 Series 中的缺失值（NaN）
replace(to_replace, value)	|替换 Series 中指定的值
cumsum()	|返回 Series 的累计求和
cumprod()	|返回 Series 的累计乘积
shift(periods)	|将 Series 中的元素按指定的步数进行位移
rank()	|返回 Series 中元素的排名
corr(other)	|计算 Series 与另一个 Series 的相关性（皮尔逊相关系数）
cov(other)	|计算 Series 与另一个 Series 的协方差
to_list()	|将 Series 转换为 Python 列表
to_frame()	|将 Series 转换为 DataFrame
iloc[]	|通过位置索引来选择数据
loc[]	|通过标签索引来选择数据

In [43]:
#用于生成字母表
import string
import pandas as pd
# 生成字母表
alphabet = list(string.ascii_lowercase)
#创建series
s = pd.Series(alphabet,index=range(1,len(alphabet)+1),name='alphabet')
#获取基本属性
print(s.name)  # 输出 Series 的名称
print(s.index)  # 输出索引
print(s.values)  # 输出 Series 的值
print(s.dtype)  # 输出数据类型
print(s.shape)  # 输出 Series 的形状
# 获取字母表的前5个字母
print(s.head(5 ))  # 输出前5个字母
# 获取字母表的后5个字母
print(s.tail(5))  # 输出后5个字母
#返回唯一值
print(s.unique)
#统计每个唯一值出现的次数
print(s.value_counts())  # 输出每个字母出现的次数
#按value进行排序
print(s.sort_values(ascending=False))  # 按值降序排序
#按位置索引选择数据
print(s.iloc[0:5])  # 选择前5个字母
#按标签索引(自定义索引)选择数据 
print(s.loc[1:5])  # 选择索引为1到5的字母
#将series转换为列表
print(s.tolist())  # 将 Series 转换为列表

alphabet
RangeIndex(start=1, stop=27, step=1)
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r'
 's' 't' 'u' 'v' 'w' 'x' 'y' 'z']
object
(26,)
1    a
2    b
3    c
4    d
5    e
Name: alphabet, dtype: object
22    v
23    w
24    x
25    y
26    z
Name: alphabet, dtype: object
<bound method Series.unique of 1     a
2     b
3     c
4     d
5     e
6     f
7     g
8     h
9     i
10    j
11    k
12    l
13    m
14    n
15    o
16    p
17    q
18    r
19    s
20    t
21    u
22    v
23    w
24    x
25    y
26    z
Name: alphabet, dtype: object>
alphabet
a    1
b    1
y    1
x    1
w    1
v    1
u    1
t    1
s    1
r    1
q    1
p    1
o    1
n    1
m    1
l    1
k    1
j    1
i    1
h    1
g    1
f    1
e    1
d    1
c    1
z    1
Name: count, dtype: int64
26    z
25    y
24    x
23    w
22    v
21    u
20    t
19    s
18    r
17    q
16    p
15    o
14    n
13    m
12    l
11    k
10    j
9     i
8     h
7     g
6     f
5     e
4     d
3     c
2     b
1     a
Name: alphabet, dtype: object
1    a
2    b
3    c
4    d
5    e
Name: alphabet, dtype: object
1    a
2    b
3    c
4    d
5    e
Name: alphabet, dtype: object
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [44]:
print(s.index)  # 输出索引
print(s.index.to_list())  # 将索引转换为列表

RangeIndex(start=1, stop=27, step=1)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]

# DataFrame 是一个表格型的数据结构，它含有一组有序的列，每列可以是不同的值类型（数值、字符串、布尔型值）。
是一个二维表格，可以被看作是一个 Excel 电子表格或 SQL 表  
DataFrame 既有行索引也有列索引，它可以被看做由 Series 组成的字典（共同用一个索引）。

## DataFrame 构造方法如下：

`pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)`
参数说明：  

data：DataFrame 的数据部分，可以是字典、二维数组、Series、DataFrame 或其他可转换为 DataFrame 的对象。如果不提供此参数，则创建一个空的 DataFrame。

index：DataFrame 的行索引，用于标识每行数据。可以是列表、数组、索引对象等。如果不提供此参数，则创建一个默认的整数索引。

columns：DataFrame 的列索引，用于标识每列数据。可以是列表、数组、索引对象等。如果不提供此参数，则创建一个默认的整数索引。

dtype：指定 DataFrame 的数据类型。可以是 NumPy 的数据类型，例如 np.int64、np.float64 等。如果不提供此参数，则根据数据自动推断数据类型。

copy：是否复制数据。默认为 False，表示不复制数据。如果设置为 True，则复制输入的数据。

## 从series创建dataframe

In [72]:
citys = pd.Series(['Tokyo', 'Los Angeles', 'London'],name='City')
latitudes = pd.Series([35.6895, 34.0522, 51.5074], name='Latitude')
longitudes = pd.Series([139.6917, -118.2437, -0.1278], name='Longitude')
countries = pd.Series(['Japan', 'USA', 'UK'], name='Country')   
# 创建 DataFrame
# 方法1：用字典传入，键为列名（直接用Series的name）
df = pd.DataFrame({
    citys.name: citys,       # 列名=City，值=citys这个Series
    latitudes.name: latitudes,
    longitudes.name: longitudes,
    countries.name: countries
},index=range(1, len(citys) + 1))  # 设置行索引为1,2,3...
display(df)
#方法2：用concat拼接多个Series（axis=1表示按列拼）
df = pd.concat(
    [citys, latitudes, longitudes, countries],  # 所有Series的列表
    axis=1  # 关键：按列拼接（默认axis=0是按行拼，会出错）
)

display(df)

          City  Latitude  Longitude Country
1  Los Angeles   34.0522  -118.2437     USA
2       London   51.5074    -0.1278      UK
3          NaN       NaN        NaN     NaN

          City  Latitude  Longitude Country
0        Tokyo   35.6895   139.6917   Japan
1  Los Angeles   34.0522  -118.2437     USA
2       London   51.5074    -0.1278      UK

## 从dict创建dataframe

In [73]:
#构建data字典
data = {
"City": ["Tokyo", "Los Angeles", "London"],
"Latitude": [35.6895, 34.0522, 51.5074],
"Longitude": [139.6917, -118.2437, -0.1278],
"Country": ["Japan", "USA", "UK"],
}
print(data.keys())  # 输出字典的键

dict_keys(['City', 'Latitude', 'Longitude', 'Country'])

In [74]:
#构建dataframe
df = pd.DataFrame(data,index=range(1,len(data[next(iter(data.keys()))])+1))
display(df)

          City  Latitude  Longitude Country
1        Tokyo   35.6895   139.6917   Japan
2  Los Angeles   34.0522  -118.2437     USA
3       London   51.5074    -0.1278      UK

## 从list创建

In [ ]:
import pandas as pd

data = [
        ['Google', 10], 
        ['Runoob', 12], 
        ['Wiki', 13]
        ]

# 创建DataFrame
df = pd.DataFrame(data, columns=['Site', 'Age'],index=range(1, len(data) + 1))

# 使用astype方法设置每列的数据类型
df['Site'] = df['Site'].astype(str)
df['Age'] = df['Age'].astype(float)

display(df)

     Site   Age
1  Google  10.0
2  Runoob  12.0
3    Wiki  13.0

# 从ndarray创建

In [78]:
import numpy as np
import pandas as pd

# 创建一个包含网站和年龄的二维ndarray
ndarray_data = np.array([
    ['Google', 10],
    ['Runoob', 12],
    ['Wiki', 13]
])

# 使用DataFrame构造函数创建数据帧
df = pd.DataFrame(ndarray_data, columns=['Site', 'Age'])

# 打印数据帧
print(df)

     Site Age
0  Google  10
1  Runoob  12
2    Wiki  13

# 多字典（list嵌套dict）创建，便于添加新元素

In [139]:
import pandas as pd

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df = pd.DataFrame(data)

print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

# 添加新数据

使用loc[len(df)]添加

In [141]:
new_elements = { 'a': 10,'b':9,'d': 30}
df.loc[len(df)] = new_elements  # 使用 loc 添加新行
display(df)
print(df.loc[2])  # 使用 loc 访问新添加的行

    a   b     c
0   1   2   NaN
1   5  10  20.0
2  10   9   NaN
3  10   9   NaN

a    10.0
b     9.0
c     NaN
Name: 2, dtype: float64

使用pd.concat添加

In [142]:
#定义一个新的df
NEW_ELEMENTS =[{'a':8,'c':7}]
new_df = pd.DataFrame(NEW_ELEMENTS)
df = pd.concat([df,new_df],ignore_index=True  )
display(df)

    a     b     c
0   1   2.0   NaN
1   5  10.0  20.0
2  10   9.0   NaN
3  10   9.0   NaN
4   8   NaN   7.0

# DataFrame 方法
DataFrame 的常用操作和方法如下表所示：

方法名称	|功能描述
|----|----|
head(n)	|返回 DataFrame 的前 n 行数据（默认前 5 行）
tail(n)	|返回 DataFrame 的后 n 行数据（默认后 5 行）
info()	|显示 DataFrame 的简要信息，包括列名、数据类型、非空值数量等
describe()|	返回 DataFrame 数值列的统计信息，如均值、标准差、最小值等
shape	|返回 DataFrame 的行数和列数（行数, 列数）
columns	|返回 DataFrame 的所有列名
index	|返回 DataFrame 的行索引
dtypes	|返回每一列的数值数据类型
sort_values(by)	|按照指定列排序
sort_index()	|按行索引排序
dropna()	|删除含有缺失值（NaN）的行或列
fillna(value)	|用指定的值填充缺失值
isnull()	|判断缺失值，返回一个布尔值 DataFrame
notnull()	|判断非缺失值，返回一个布尔值 DataFrame
loc[]	|按标签索引选择数据
iloc[]	|按位置索引选择数据
at[]	|访问 DataFrame 中单个元素（比 loc[] 更高效）
iat[]	|访问 DataFrame 中单个元素（比 iloc[] 更高效）
apply(func)	|对 DataFrame 或 Series 应用一个函数
applymap(func)	|对 DataFrame 的每个元素应用函数（仅对 DataFrame）
groupby(by)	|分组操作，用于按某一列分组进行汇总统计
pivot_table()	|创建透视表
merge()	|合并多个 DataFrame（类似 SQL 的 JOIN 操作）
concat()|	按行或按列连接多个 DataFrame
to_csv()|	将 DataFrame 导出为 CSV 文件
to_excel()	|将 DataFrame 导出为 Excel 文件
to_json()	|将 DataFrame 导出为 JSON 格式
to_sql()	|将 DataFrame 导出为 SQL 数据库
query()	|使用 SQL 风格的语法查询 DataFrame
duplicated()|	返回布尔值 DataFrame，指示每行是否是重复的
drop_duplicates()|	删除重复的行
set_index()	|设置 DataFrame 的索引
reset_index()	|重置 DataFrame 的索引
transpose()	|转置 DataFrame（行列交换）

In [144]:
#构建data字典
data = {
"City": ["Tokyo", "Los Angeles", "London"],
"Latitude": [35.6895, 34.0522, 51.5074],
"Longitude": [139.6917, -118.2437, -0.1278],
"Country": ["Japan", "USA", "UK"],
}

In [145]:
#构建dataframe
df = pd.DataFrame(data,index=range(1,len(data[next(iter(data.keys()))])+1))
display(df)

          City  Latitude  Longitude Country
1        Tokyo   35.6895   139.6917   Japan
2  Los Angeles   34.0522  -118.2437     USA
3       London   51.5074    -0.1278      UK

In [146]:
df.info()  # 直接输出DataFrame的信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 1 to 3
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City       3 non-null      object
 1   Latitude   3 non-null      float64
 2   Longitude  3 non-null      float64
 3   Country    3 non-null      object
dtypes: float64(2), object(2)
memory usage: 228.0+ bytes

In [147]:
print(
    df.index, '\n' ,# 输出索引
    df.columns # 输出列名
)

RangeIndex(start=1, stop=4, step=1)
 Index(['City', 'Latitude', 'Longitude', 'Country'], dtype='object')

In [148]:
print(df.sort_values(by='Latitude', ascending=True))  # 按照纬度升序排序

          City  Latitude  Longitude Country
2  Los Angeles   34.0522  -118.2437     USA
1        Tokyo   35.6895   139.6917   Japan
3       London   51.5074    -0.1278      UK